<div class="side-panel-container">
    <img src="assets/logo/hms-logo-black.png" class="hms-logo" alt="logo of hms"/>
    <div class="node-container">
        <div class="node">
            <img src="assets/node/user.png" class="node-icon" alt="node-icon"/>
            <p class="node-title">User Management</p>
        </div>
        <div class="node">
            <img src="assets/node/user.png" class="node-icon" alt="node-icon"/>
            <p class="node-title">Appointments</p>
        </div>
    </div>
</div>