.sidebar {

  width: 260px;

  height: 100vh;

  background: white;

  padding: 25px;

  box-shadow: 2px 0 15px rgba(0,0,0,0.05);

  position: sticky;

  top: 0;

}

.logo-section {

  display: flex;

  align-items: center;

  gap: 15px;

  margin-bottom: 50px;

}

.logo {

  width: 55px;

  height: 55px;

  border-radius: 18px;

  background: linear-gradient(
    135deg,
    #2563eb,
    #7c3aed
  );

  color: white;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 24px;

  font-weight: bold;

}

.logo-section h2 {

  margin: 0;

}

.logo-section p {

  margin: 0;

  color: gray;

  font-size: 14px;

}

.menu {

  display: flex;

  flex-direction: column;

  gap: 15px;

}

.menu a {

  text-decoration: none;

  color: #111827;

  padding: 14px 18px;

  border-radius: 14px;

  transition: 0.3s;

  font-weight: 500;

}

.menu a:hover {

  background: #eff6ff;

  color: #2563eb;

}

.active-link {

  background: #2563eb;

  color: white !important;

}