
<div class="sidebar">

  <!-- LOGO -->
  <div class="logo-section">

    <div class="logo">
      H
    </div>

    <div>
      <h2>HMS</h2>
      <p>Hospital Management</p>
    </div>

  </div>

  <!-- MENU -->
  <div class="menu">

    <a
      routerLink="/dashboard"
      routerLinkActive="active">

      Dashboard

    </a>

    <a
      routerLink="/appointments"
      routerLinkActive="active">

      Appointments

    </a>

    <a
      routerLink="/patients"
      routerLinkActive="active">

      Patients

    </a>

    <a
      routerLink="/profile"
      routerLinkActive="active">

      Profile

    </a>

  </div>

</div>