<div class="box-container-wrapper">
  <div class="box-container">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <img src="assets/logo/hms-logo-splash.png" class="hms-logo" alt="hms logo" />
      <input type="text" placeholder="Name" id="name" formControlName="name" />
      <small *ngIf="!signUpForm.get('name')?.valid&&signUpForm.get('name')?.touched"
        >name is required.</small
      >
      <input type="email" placeholder="Email" id="email" formControlName="email" />
      <small *ngIf="signUpForm.get('email')?.touched">
        <span *ngIf="signUpForm.get('email')?.errors?.['required']">email is required.</span>
        <span *ngIf="signUpForm.get('email')?.errors?.['email']">email is invalid.</span>
      </small>
      <select id="roles" formControlName="roles">
        <option value="" disabled>Role</option>
        <option *ngFor="let role of roles_data" [value]="role">{{ role }}</option>
      </select>
      <small *ngIf="!signUpForm.get('roles')?.valid&&signUpForm.get('roles')?.touched"
        >role is required.</small
      >
      <input type="password" id="password" placeholder="Password" formControlName="password" />
      <small *ngIf="signUpForm.get('password')?.touched">
        <span *ngIf="signUpForm.get('password')?.errors?.['required']">password is required.</span>
        <span *ngIf="signUpForm.get('password')?.errors?.['minlength']"
          >minimum 8 characters are required!.</span
        >
      </small>
      <select id="department" formControlName="department">
        <option value="" disabled>Department</option>
        <option *ngFor="let department of departments_data" [value]="department">
          {{ department }}
        </option>
      </select>
      <small *ngIf="!signUpForm.get('department')?.valid&&signUpForm.get('department')?.touched"
        >department is required.</small
      >
      <select id="status" formControlName="status">
        <option value="" disabled>Status</option>
        <option value="active">Active</option>
        <option value="inactive">In Active</option>
      </select>
      <small *ngIf="!signUpForm.get('status')?.valid&&signUpForm.get('status')?.touched"
        >status is required.</small
      >
      <div class="time-slot-container">
        <label for="datePicker">Joining Date</label>
        <input type="date" placeholder="Date" formControlName="joiningDate" id="datePicker" />
        <small *ngIf="!signUpForm.get('joiningDate')?.valid&&signUpForm.get('joiningDate')?.touched"
          >joining date is required.</small
        >
      </div>
      <input
        type="text"
        placeholder="Medical Registration Number"
        formControlName="medicalRegistrationNo"
      />
      <small
        *ngIf="!signUpForm.get('medicalRegistrationNo')?.valid&&signUpForm.get('medicalRegistrationNo')?.touched"
        >medical registration number is required</small
      >
      <select id="specialization" formControlName="specialization">
        <option value="" disabled>Specialization</option>
        <option *ngFor="let specialization of specializations_data" [value]="specialization">
          {{ specialization }}
        </option>
      </select>
      <small
        *ngIf="!signUpForm.get('specialization')?.valid&&signUpForm.get('specialization')?.touched"
        >specialization is required.</small
      >
      <input type="text" placeholder="Qualification" formControlName="qualification" />
      <small
        *ngIf="!signUpForm.get('qualification')?.valid&&signUpForm.get('qualification')?.touched"
        >qualification is required.</small
      >
      <input type="number" placeholder="Consultation Fee" formControlName="consultationFee" />
      <small
        *ngIf="!signUpForm.get('consultationFee')?.valid&&signUpForm.get('consultationFee')?.touched"
        >consultation fee is required.</small
      >
      <div class="time-slot-container">
        <label for="time-slot-container">Select Time Slots</label>
        <select id="startTime" formControlName="startHour">
          <option value="" disabled>Start Hour</option>
          <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
        </select>
        <select id="endTime" formControlName="endHour">
          <option value="" disabled>End Hour</option>
          <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
        </select>
        <small *ngIf="signUpForm.errors?.['invalidTimeRange']"
          >start hour must be less than end hour.</small
        >
        <input
          type="button"
          value="Generate"
          (click)="generateTimeSlots()"
          [disabled]="signUpForm.errors?.['invalidTimeRange']"
        />
      </div>
      <div class="time-slot-container" *ngIf="generatedSlots.length">
        <label for="time-slot-container">Generated Time Slots</label>
        <div class="generated-option" *ngFor="let slot of generatedSlots">
          <input type="checkbox" [value]="slot" (change)="toggleSlot(slot)" /> {{ slot }}
        </div>
      </div>
      <div class="time-slot-container" *ngIf="signUpForm.value.availabilitySlots.length">
        <label for="time-slot-container">Selected Time Slots</label>
        <div class="selected-option" *ngFor="let slot of signUpForm.value.availabilitySlots">
          <label for="selected-option">{{ slot }}</label>
        </div>
      </div>
      <input type="submit" value="Signup" placeholder="Signup" />
    </form>
  </div>
</div>
