.box-container-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container {
  height: 95vh;
  width: 45vw;
  margin-left: 1vw;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: solid 1px rgb(129, 129, 129);
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: 20px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.hms-logo {
  display: block;
  width: 15vw;
  height: auto;
}

input {
  outline: none;
}

input[type='email'],
input[type='text'],
input[type='number'],
input[type='password'],
input[type='date'] {
  width: 60%;
  padding: 10px 0px;
  background: transparent;
  border: 0;
  color: white;
  border-bottom: solid rgb(200, 200, 200) 1px;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='text']:focus,
input[type='password']:focus {
  border-bottom: solid rgb(200, 200, 200) 3px;
}

input::placeholder {
  color: rgb(200, 200, 200);
}

label {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(226, 226, 226);
  font-size: 12px;
}

input[type='submit'] {
  width: 60%;
  padding: 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  outline: none;
  border: none;
  color:rgb(90, 90, 90);
  margin-bottom:20px ;
  cursor: pointer;
}

small {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(179, 179, 179);
  font-size: 10px;
  margin-right: auto;
  margin-left: 20%;
  padding: 0px 5px;
  border-left: solid rgb(255, 126, 126) 5px;
  border-radius: 2px;
}

.box-container::-webkit-scrollbar {
  width: 0;
}

.box-container::-webkit-scrollbar-thumb {
  background: transparent;
}

select {
  width: 60%;
  outline: none;
  padding: 10px 5px;
  border: none;
  background: transparent;
  color: white;
  border-bottom: solid rgb(200, 200, 200) 1px;
  font-family: Arial, Helvetica, sans-serif;
}

option {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.time-slot-container{
    width: 50%;
    border: solid rgb(200, 200, 200) 1px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    padding:20px;
}

.time-slot-container select{
    width:60%;
    font-size:12px;
}

.time-slot-container input[type="button"]{
    width:60%;
    background: transparent;
    outline: none;
    border: solid white 1px;
    border-radius:5px ;
    padding: 5px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.generated-option,.selected-option{
    border-bottom: solid white 1px;
    width:60%;
    padding:5px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    font-size:0.9rem;
}

label[for="selected-option"]{
    font-size: 0.8rem;
    text-align: center;
}

input:-webkit-autofill {
    border-radius: 10px !important;
}

label[for="time-slot-container"],label[for="datePicker"]{
     width: 60%;
    text-align: left;
}

