<div class="box-container-wrapper">
  <div class="box-container">
    <img src="assets/avatar.png" class="avatar-icon" alt="avatar icon" />
    <div class="user-container">
      <div class="field">
        <label for="field">Employee Id : </label>
        <span>{{ user.employeeId }}</span>
      </div>
      <div class="field">
        <label for="field">Name : </label>
        <span>{{ user.name }}</span>
      </div>
      <div class="field">
        <label for="field">Email : </label>
        <span>{{ user.email }}</span>
      </div>
      <div class="field">
        <label for="field">Roles : </label>
        <div class="role-container" *ngFor="let role of user.roles">
          <span>{{ role }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
