<div class="pt-wrapper">

  <div class="pt-hero">
    <div>
      <h1>Patient Management</h1>
      <p>Manage patient records efficiently</p>
    </div>

    <span class="pt-count">{{ patientUiData.patientCount }}</span>
  </div>

  <div class="pt-metrics">

    <div class="pt-card blue">
      <h2>{{ patientUiData.patientCount }}</h2>
      <p>Total Patients</p>
    </div>

    <div class="pt-card green">
      <h2>{{ patientUiData.activeCount }}</h2>
      <p>Active</p>
    </div>

    <div class="pt-card red">
      <h2>{{ patientUiData.inActiveCount }}</h2>
      <p>Inactive</p>
    </div>
  </div>

  <div class="pt-grid">

    <div class="pt-panel">
      <h2>Add Patient</h2>

      <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Name" formControlName="name" />

        @if (patientForm.get('name')?.touched && patientForm.get('name')?.invalid) {
          <small>Invalid name</small>
        }

        <input type="email" placeholder="Email" formControlName="email" />
        <input type="text" placeholder="Phone" formControlName="phone" />
        <input type="date" formControlName="dob" />

        @if (patientForm.errors?.['invalidDob']) {
          <small>DOB cannot be future</small>
        }

        <select formControlName="gender">
          <option value="" disabled>Select Gender</option>
          <option>Male</option>
          <option>Female</option>
        </select>
        <textarea placeholder="Address" formControlName="address"></textarea>
        <input type="text" placeholder="Emergency Contact" formControlName="emergencyContact"/>

        <button type="submit" [disabled]="patientForm.invalid">
          Save
        </button>

      </form>
    </div>
    <div class="pt-panel full">
      <h2>Patients List</h2>
      <table class="pt-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          @for (patient of patientData; track patient) {
            <tr>

              <td>{{ patient.uhid }}</td>
              <td>{{ patient.name }}</td>
              <td>{{ patient.email }}</td>
              <td>{{ patient.phone }}</td>

              <td>
                <span class="status-chip"
                  [class.active]="patient.status === 'ACTIVE'"
                  [class.inactive]="patient.status === 'INACTIVE'">
                  {{ patient.status }}
                </span>
              </td>

              <td>
                <button (click)="deletePatient(patient.uhid)">
                  Delete
                </button>
              </td>

            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>