<section class="approval-dashboard">

  <div class="approval-hero">
    <div>
      <h1>User Approval Center</h1>
      <p>Manage user onboarding and approvals</p>
    </div>

    <span>{{ filteredData.length }} Records</span>
  </div>

  <div class="approval-metrics">

    <div class="metric-card amber">
      <h2>{{ approvalUiData.pendingCount }}</h2>
      <p>Pending</p>
    </div>

    <div class="metric-card green">
      <h2>{{ approvalUiData.verifiedCount }}</h2>
      <p>Verified</p>
    </div>

    <div class="metric-card rose">
      <h2>{{ approvalUiData.inActiveCount }}</h2>
      <p>Inactive</p>
    </div>

    <div class="metric-card violet">
      <h2>{{ approvalUiData.firstLoginCount }}</h2>
      <p>First Login</p>
    </div>

  </div>

  <input
    type="text"
    placeholder="Search"
    [(ngModel)]="searchText"
    (input)="applyFilters()"
  />

  <table class="approval-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      @for (user of filteredData; track user) {
        <tr>

          <td>{{ user.employeeId }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.roles }}</td>

          <td>
            <span>{{ user.status }}</span>
          </td>

          <td>
            @if (user.status === 'Pending' || user.status === 'Inactive') {
              <button (click)="approveUser(user.employeeId)">
                Approve
              </button>
            }

            @if (user.status === 'Pending') {
              <button (click)="rejectUser(user.employeeId)">
                Reject
              </button>
            }
          </td>

        </tr>
      }
    </tbody>
  </table>

</section>