<section class="employee-wrapper">

  <div class="panel-header">
    <h2>Employee Management</h2>
    <div class="header-actions">
      <button routerLink="/approval">Approvals</button>
      <button routerLink="/signup-modal">Add Employee</button>
    </div>
  </div>

  <input
    type="text"
    placeholder="Search"
    [(ngModel)]="selectedText"
    (input)="applyFilters()"
  />

  <select [(ngModel)]="selectedDepartment" (change)="applyFilters()">
    <option value="">All Departments</option>

    @for (dept of departmentsData; track dept) {
      <option [value]="dept.departmentName">
        {{ dept.departmentName }}
      </option>
    }
  </select>

  <select [(ngModel)]="selectedStatus" (change)="applyFilters()">
    <option value="">All Status</option>
    <option>Active</option>
    <option>Inactive</option>
  </select>

  <table class="modern-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Designation</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @for (employee of filteredEmployeeData; track employee) {

        @if (employee.designation !== 'Admin') {

          <tr>
            <td>{{ employee.employeeId }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.department }}</td>
            <td>{{ employee.designation }}</td>

            <td>
              <button (click)="updateProfile(employee.email)">Edit</button>
              <button (click)="deleteUserProfile(employee.employeeId)">Delete</button>
            </td>
          </tr>

        }

      }
    </tbody>
  </table>

</section>